@import '../Variables/variables.scss';
@import '../Mixins/mixins.scss';

#work {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 0 38% 0;
}

.project-container {
  max-width: 960px;
  padding: 1% 0;
  margin: 0 auto;
  background-color: rgba(242, 242, 242, 0.2);
  border-radius: 2px;
}

.project {
  width: 300px;
  height: 300px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 1%;
}

.project:hover {
  cursor: pointer;
}

.project img {
  width: 100%;
  border: 1px solid #1a1a1a;
  border-radius: 2px;
  box-sizing: border-box;
}

.close {
  display: flex;
  align-self: flex-end;
  margin: 4% 4% 0 0;
  font-weight: bold;
  cursor: pointer;
}

.title {
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: $gold;
}

.view-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 5%;
}

.overlay {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  animation: 1s glow forwards;
}

.overlay p {
  margin: 20px;
}

@keyframes glow {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 1px 2px $gold;
  }

  100% {
    box-shadow: 0 0 3px 4px $gold;
  }
}

@media screen and (min-width: 1053px) {
  #work {
    margin-bottom: 30%;
  }
}

@media screen and (min-width: 2500px) {
  #work {
    margin-bottom: 20%;
  }
}