@import '../Variables/variables.scss';
@import '../Mixins/mixins.scss';

#contact {
  @include flexCenter(column);
  margin: 0 8% 40% 8%;

  @media screen and (min-width: 1200px) {
    margin-bottom: 20%;
  }
}

#contact h1 {
  color: $gold;
  text-align: center;
}

#contactForm {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(99, 109, 112, 0.2);
  border-radius: 4px;
  margin: 2%;
}

#contactForm fieldset {
  display: flex;
  flex-direction: column;
  border: 2px solid $grey;
  border: none;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 4%;
}

#contactForm label {
  margin: 2% 4% 1% 4%;
}

#contactForm label span {
  color: $gold;
  font-weight: bold;
}

#contactForm input, #contactForm textarea {
  margin: 5% 4% 6% 4%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $grey;
  color: $white;
}

#contactForm input:focus, #contactForm textarea:focus {
  outline: none;
  border-color: $gold;
}

#contactForm textarea {
  height: 120px;
  resize: none;
}

#email {
  display: none;
}

#contactForm input#contactSubmit {
  width: 100%;
  background-color: rgba(198, 216, 220, 0.8);
  margin: 0;
  padding: 5% 0;
  border-radius: 0 0 4px 4px;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: #1a1a1a;
}

#contactForm input#contactSubmit:hover {
  cursor: pointer;
  background-color: $lightblue;
}