@import '../Variables/variables.scss';
@import '../Mixins/mixins.scss';

$homeIcon: '../../assets/footer/home.svg';
$homeIconHover: '../../assets/footer/activehome.svg';
$workIcon: '../../assets/footer/work.svg';
$workIconHover: '../../assets/footer/activework.svg';
$contactIcon: '../../assets/footer/contact.svg';
$contactIconHover: '../../assets/footer/activecontact.svg';
$githubIcon: '../../assets/footer/github.svg';
$githubIconHover: '../../assets/footer/activegithub.svg';

footer {
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $darkgrey;
  padding: 2%;
  font-weight: bold;
}

footer ul {
  @include flexCenter(row);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  padding: 0 4%;
}

footer ul li:hover {
  cursor: pointer;
}

footer ul li a {
  padding-bottom: 80px;
}

// Preload hover images to prevent flashing.
footer::after{
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  content: url($homeIconHover) url($workIconHover) url($contactIconHover) url($githubIconHover);
}

.footer-home {
  background: url($homeIcon) center center no-repeat;
}

.footer-work {
  background: url($workIcon) center center no-repeat;
}

.footer-contact {
  background: url($contactIcon) center center no-repeat;
}

.footer-github {
  background: url($githubIcon) center center no-repeat;
}

.footer-home:hover {
  background: url($homeIconHover) center center no-repeat;
}

.footer-work:hover {
  background: url($workIconHover) center center no-repeat;
}

.footer-contact:hover {
  background: url($contactIconHover) center center no-repeat;
}

.footer-github:hover {
  background: url($githubIconHover) center center no-repeat;
}